.Navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-image: linear-gradient(130deg, #7A09C4, #3D42FF);
    height: 25px;
}

 .fail i{margin: 6px;
    
} 
.coin {
    align-items: center ;
    gap: 50px;
    display: flex;
    justify-content: space-between;
}
.contac{
    display: flex;
     align-items: center ;

}

.message{
    display: flex;
     align-items: center ;
}